body {
  background-image: url('/static/media/forest-bg.102d57b1.png');
  background-size: cover;
  background-position: center center;
  font-family: "Roboto";
}

textarea {
  background: transparent!important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.content {
  position: relative;
  min-height: 240px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.img {
  object-fit: cover;
}

.login-content {
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  background: none;
  margin: 0em;
  padding: 1em 1em;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0em;
}
.musicplayer {
  min-width: 120px;
}

.signature {
  position: absolute;
  right:    14px;
  bottom:   8px;
}

.star {
  background: none!important;
  border: none;
  padding: 0!important;
  position: absolute;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

#glowImg {
  width: 100px;
  height: 156px;
}

.item {
  margin: 10px;
}

div.content {
  background-image: url('/static/media/vintage-paper.7ecce0ee.jpg')!important;
  background-size: cover;
}

#writetext {
  border: none;
  resize: none;
} 

.initial {
  font-family: 'Shadows Into Light', cursive;
}

